@import "common/normalize";
@import "figures/circle";
@import "figures/ellipse";
@import "figures/rectanlge";
@import "figures/square";

@keyframes colorChange {
    0% {
        fill: lightcoral;
        stroke: darkred;
    }
    50% {
        fill: red;
        stroke: lightcoral;
    }
    100% {
        fill: lightcoral;
        stroke: darkred;
    }

}

.center {
    stroke-width: 5px;
}
